/*https://austine56.github.io/www.Squushdemo.com/*/
*{
    margin: 0;
    color: white;
}
body{
    background-color: #0d0d0d;
   font-family: Arial, Helvetica, sans-serif;
}
:root {
  --bg: #0A0615;
  --section: #140D2A;
  --card: #1E133D;
  --hover: #2A1E5C;
  --text: #E9E5FF;
  --accent: #8B5CF6;
}
.Content-Container{
    width: 210px;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background:  rgb(16, 16, 16);
}
.Content-Container h2{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: monospace;
}
.Contents{
    width: 90%;
    height: 320px;
    backdrop-filter: blur(10px);
    margin-left: 5%;
    background-color: rgb(0, 0, 0, 0);
}
.Content{
    width: 100%;
    height: 30px;
    font-size: 13px;
    border-radius: 7px;
    position: relative;
    font-family: 'Inter', sans-serif;
}
.Content a{
    width: 165px;
    padding-left: 35px;
    height: 30px;
    font-weight: 500;
    position: absolute;
    top: 7px;
}
.Content i{
    position: absolute;
    top: 6.5px;
    font-size: 16px;
    left: 5px;
    color: #fffff0;
}
.Content:hover{
    border: 1px solid rgb(255, 255, 255, 0.3);
    box-shadow: 2px 1px rgb(146, 146, 146, 0.2);
    backdrop-filter: blur(10px);
    background: linear-gradient( to right,rgba(53, 53, 53, 0.4)) ;
    transition: top left ease 2s;
}
.Recents{
    margin-top: 10px;
}
.Recent-Tab{
    font-size: 13px;
    left: 10px;
    font-family: 'Inter', sans-serif;
}
.fa-x{
    position: absolute;
    top: 285px;
    font-size: 10px;
    right: 5px;
    color: #495267;
}
.Cards{
    width: 100%;
    height: 200px;
    top: 10px;
    position: relative;
}
.Card-1{
    width: 50px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    object-fit: contain;
    background-size: 100% 40px;
    background: url(" https://tse3.mm.bing.net/th/id/OIP.ZLQBzGffp1SLw9wd0Q9E7AHaE8?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Cards h5{
    top: 2px;
    left: 55px;
    position: absolute;
    font-family: 'Inter', sans-serif;
}
.Cards a{
    top: 20px;
    left: 57px;
    position: absolute;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
.Card-2{
    width: 50px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-size: 50px 40px;
    background: url("https://th.bing.com/th/id/OIP._h3Ge8hlsqrzm-jPp0KsJAHaEK?w=321&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")center/cover;
}
.Cards h6{
    top: 64px;
    left: 55px;
    font-size: 13px;
    position: absolute;
    font-family: 'Inter', sans-serif;
}
.Cards p{
    top: 80px;
    left: 57px;
    position: absolute;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
.Card-3{
    width: 50px;
    height: 40px;
    border-radius: 6px;
    background-size: 50px 40px ;
    background: url("https://th.bing.com/th/id/OIP.nso6azGZXBnikhQ4sWlS7wHaF5?w=236&h=188&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")center/cover;
}
.Cards h4{
    top: 124px;
    left: 55px;
    font-size: 13px;
    position: absolute;
    font-family: 'Inter', sans-serif;
}
.Cards h3{
    top: 139px;
    left: 56px;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    font-family: 'Inter', sans-serif;
}
.Music-Player{
    top: 560px;
    width: 100%;
    height: 160px;
    border-radius: 15px;
    position: absolute;
    backdrop-filter: blur(10px);
    background-color: rgba(10, 10, 10, 0.1);
}
.Card{
    width: 50px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 6px;
    background: url("https://th.bing.com/th/id/OIP.kqcjjFfY5XQa7kcpYY9hPgHaEK?w=284&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3ver")center/cover;

}
.Card h5{
    top: 22px;
    left: 65px;
    position: absolute;
    font-family: 'Inter', sans-serif;
}
.Card a{
    top: 40px;
    left: 67px;
    position: absolute;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
.fa-shuffle{
    top: 30px;
    right: 4px;
    position: absolute;
    font-size: 14px;
}
.progress-content{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    margin: 25px 0;
}
.progress{
    flex: 1;
    height: 4px;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
}
.time-1{
    margin-left: 4px;
    font-size: 10px;
    color: #aaa;
}
.time-2{
    margin-right: 4px;
    font-size: 10px;
    color: #aaa;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.Navlinks{
    margin-left: 230px;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
}
.Nav a{
    margin-left: 10px;
    padding: 8px;
    font-weight: 500;
}
.Nav a:nth-child(2){
    color: #487fff;
    border-bottom: 2px solid rgb(52, 125, 251);
}
.Nav a:focus{
    color: rgb(94, 94, 254);
    border-bottom: 2px solid  #347dfb;
}
.Top{
    width: 100%;
    height: 50%;
    display: flex;
}
.search-box{
    width: 45%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    flex-grow: 1;
    border: none;
    outline: none;
    background: #1f1f1f;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding-left: 35px;
    margin-left: 230px;
    background: linear-gradient( to left, #2b2b2b, #202224);
}
.search-box:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.suggestions {
    position: absolute;
    flex-grow: 1;
    display: flex;
    font-size: 13px;
    max-height: 160px;
    font-family: 'Inter', sans-serif;
    background: #1f1f1f;
    top: 60px;
    margin-left: 235px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
.suggestions div {
    padding: 12px 20px;
    cursor: pointer;
    color: #ddd;
}
.suggestions div:hover {
    background: #333;
}
.fa-magnifying-glass{
    top: 23px;
    position: absolute;
    margin-left: 240px;
    color: #d1d1d1;
}
.fa-bell{
    margin-top: 22px; 
    margin-left: 20px;
    color: #ffffff;
    margin-right: 20px;
}

.dark {
    background: #141414;
    color: #000000;
}
.move{
    left: 0%;
    opacity: 0;
    position: absolute;
}
.icon {
    cursor: pointer;
    margin-top: 22px; 
    margin-left: 15px;
    color: #d1d1d1;
}

.Top{
    position: relative;
}
.Top button{
    border: none;
    height: 35px;
    width: 85px;
    margin-right: 10px;
    margin-top: 15px;
    padding-right: 25px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    background: linear-gradient( to right,#586adc, #3471ff, #347dfb);
    transition: top left ease 2s;
}
.fa-arrow-right{
    top: 26px;
    font-size: 14px;
    position: absolute;
    right: 18px;
}
.Steps-Content{
    height: 240px;
    display: flex;
    margin-left: 220px;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
    background: url("https://wallpapers.com/images/hd/jujutsu-kaisen-4k-anime-characters-hccbh0fp7rl24yd0.jpg")center/cover;
}
.Steps{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 10px;
}
.Steps-Set{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.Steps a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}
.Steps h2{
    color: #ffffff;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}
.Steps button{
    border: none;
    height: 35px;
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    background: rgb(16, 28, 48, 0.2);
 }
.Steps button:focus{
    background: linear-gradient( to right,#586adc, #3471ff, #347dfb);

}.Steps button:hover{
    background: linear-gradient( to right,#586adc, #3471ff, #347dfb);
}
.Steps-Container{
    display: 100%;
    height: 255px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}
.Steps-Container::-webkit-scrollbar{
    display: none;
}
.squush-anime-clip-1{
   animation: Squuash-1 20s step-end infinite;
}
@keyframes Squuash-1{
    0%{
        display: block;
    }
    25%{
        display: none;
    }
    50%{
        display: none;
    }
    75%{
        display: none;
    }
    100%{
        display: none;
    }
}
.squush-anime-clip-2{
    background: url("https://www.tvinsider.com/wp-content/uploads/2026/01/asher-angel-paris-berelc-kissing-is-the-easy-part-1014x570.jpg")center/cover;
    animation: Squuash-2 20s step-end infinite;
    height: 240px;
    display: flex;
    margin-left: 220px;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}
@keyframes Squuash-2{
    0%{
        display: none
    }
    25%{
        display: block;
    }
    50%{
        display: none;
    }
    75%{
        display: none;
    }
    100%{
        display: none;
    }
    100%{
        display: none;
    }
}
.squush-anime-clip-3{
    background: url("https://i.etsystatic.com/20641750/r/il/c5ec2e/6600525028/il_fullxfull.6600525028_ge2h.jpg")center/cover;
    animation: Squuash-3 20s step-end infinite;
    height: 240px;
    display: flex;
    margin-left: 220px;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}
@keyframes Squuash-3{
    0%{
        display: none;
    }
    25%{
        display: none;
    }
    50%{
        display: block;
    }
    75%{
        display: none;
    }
    100%{
        display: none;
    }
}
.squush-anime-clip-4{
    background: url("https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQXkapct6sJLMF4PNtrdBQ5VUNKqerPJlyHX2lpXkFQToUJoXJCpwYBm52SYciUyxRKupknMiog9GzeP0krvfIk_bTVURA0DDiI-8PmXX_CmrvtGGZpH3fHbESXchZO5Pr4538gbWXjRLcTqq9PLpjALcM7c.jpg?r=50b")center/cover;
    animation: Squuash-4 20s step-end infinite;
    height: 240px;
    display: flex;
    margin-left: 220px;
    margin-top: 15px;
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}
@keyframes Squuash-4{
    0%{
        display: none;
    }
    25%{
        display: none;
    }
    50%{
        display: none;
    }
    75%{
        display: block;
    }
    100%{
        display: none;
    }
}
.Text-Content{
    display: flex;    
    margin-left: 220px;
    margin-top: 15px;
}
.Text-Content h2:nth-child(1){
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.Text-Content h2:nth-child(2){
    font-size: 13px;
    position: absolute;
    right: 15px;
    color: rgb(201, 201, 201);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.Text-Content h2:nth-child(2):hover{
    color: #ffffff;
}
.Scroll-Content{
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 220px;
    margin-right: 10px;
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch;
    margin-top: 15px;
}
.Scroll-Content::-webkit-scrollbar{
    display: none;
}
.Section{
    width: 140px;    
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
.Section:hover{
    transition: all 0.5s ease; 
    transform: translateY(-6px) scale(1.03);
}
.Section:nth-child(1){
    background: url("https://images4.alphacoders.com/138/1389939.jpg")center/cover;
}
.Section:nth-child(2){
    background: url("https://i.etsystatic.com/20641750/r/il/c5ec2e/6600525028/il_fullxfull.6600525028_ge2h.jpg")center/cover;
}
.Section:nth-child(3){
    background: url("https://image.tmdb.org/t/p/w780/89qSKhLrJOUhp6xgbqgSTpzblbA.jpg")center/cover;
}
.Section:nth-child(4){
    background: url("https://www.themoviebuff.net/wp-content/uploads/2022/09/do-revenge1-videoSixteenByNine3000.jpg")center/cover;
}
.Section:nth-child(5){
    background: url("https://static1.colliderimages.com/wordpress/wp-content/uploads/2021/07/Never-Have-I-Ever-2.jpg")center/cover;
}
.Section:nth-child(6){
    background: url("https://static1.dualshockersimages.com/wordpress/wp-content/uploads/2023/02/eren-yeager-attack-on-titan-age-height-and-birthday-of-all-characters.jpg")center/cover;
}
.Section:nth-child(7){
    background: url("https://static1.cbrimages.com/wordpress/wp-content/uploads/2024/11/goku-and-super-dragon-balls.jpg")center/cover;
}
.Section:nth-child(8){
    background: url("https://static0.gamerantimages.com/wordpress/wp-content/uploads/2025/01/demon-slayer-tanjiro.jpg")center/cover;
}
.Section:nth-child(9){
    background: url("https://th.bing.com/th/id/OIP.WC5bRrJwalCUW0L7wYN50wHaEK?w=295&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")center/cover;
}
.Section:nth-child(10){
    background: url("https://th.bing.com/th/id/R.e9b8cff304b611740c68637db386d9d7?rik=Lz7kY7JUIGHsuA&pid=ImgRaw&r=0")center/cover;
}
.Section div{
    width: 140px;
    position: absolute;
    height: 75px;
    bottom: 0%;
    padding-top: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
.Section div a:nth-child(1){
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
}
.Section div p:nth-child(1){
    font-size: 10px;
    margin-top: 10px;
    color: #c8c8c8;

}
.Section div button{
    position: absolute;
    font-size: 11px;
    bottom: 2px;
    left: 20px;
    padding-left: 25px;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: 8px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    background: rgb(52, 125, 251, 0.01);
}
.Section div i{
    position: absolute;
    font-size: 13px;
    bottom: 12px;
    color: white;
    left: 35px;
}
.Section div button:hover{
    backdrop-filter: blur(2px);
    background-color: rgba(120, 168, 252, 0.122);
}

.Section.Popular-anime-1{
    background: url("https://tse3.mm.bing.net/th/id/OIP.XhUu92nDU7j_mFuDyXmasAHaEK?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Section.Popular-anime-2{
    background: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2024/11/senku-from-dr-stone-with-xeno-and-stanley-in-the-background.jpg")center/cover;
}
.Section.Popular-anime-3{
    background: url("https://cdn.wallpapersafari.com/47/90/rHXDNv.jpg")center/cover;
}
.Section.Popular-anime-4{
    background: url("https://images.wallpapersden.com/image/download/gabimaru-and-sagiri-hd-hell-s-paradise_bmVlZmqUmZqaraWkpJRnZW1srWZlbWU.jpg")center/cover;
}
.Section.Popular-anime-5{
    background: url("https://th.bing.com/th/id/OIP.q63RfL9GRWUJ-lFMDaBC9wHaEK?w=307&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")center/cover;
}
.Section.Popular-anime-6{
    background: url("https://images4.alphacoders.com/138/1389939.jpg")center/cover;
}
.Songs-Container{
    gap: 5px;
    display: flex;
    margin-top: 10px;
    margin-left: 220px;
    margin-right: 10px;
    height: 120px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.Song-Tabs{
    flex-grow: 1;
    height: 120px;
    min-width: 120px;
    position: relative;
    border-radius: 10px;
    background-color: white;
}
.Song-Tabs:hover{
    transition: transform 0.5s ease; 
    transform: translateY(-6px) scale(1.03);
}
.Song-Tabs:nth-child(1){
    background: url("https://th.bing.com/th/id/OIP.nso6azGZXBnikhQ4sWlS7wHaF5?w=236&h=188&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3") center/cover;
}
.Song-Tabs:nth-child(2){
    background: url("https://i.musicaimg.com/discos/max/70341.jpg")center/cover;
}
.Song-Tabs:nth-child(3){
    background: url("https://tse3.mm.bing.net/th/id/OIP.0t0mOMMwut9d-QMRLHftKgAAAA?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Song-Tabs:nth-child(4){
    background: url("https://th.bing.com/th/id/R.52a779dd459882d74c48815a5d333dd2?rik=OMqraf2O07N%2b6Q&pid=ImgRaw&r=0")center/cover;
}
.Song-Tabs:nth-child(5){
    background: url("https://www.musicmundial.com/en/wp-content/uploads/2024/10/BLACKPINKs-Roses-APT-breaks-an-important-Kpop-record-in-the-United-Kingdom--1100x733.jpg")center/cover;
}
.Song-Tabs:nth-child(6){
    background: url("https://www.gossipherald.com/assets/uploads/updates/2026-01-23/45492_103539_harry-styles-releases-aperture-his-first-single-in-three-years_updates.jpg")center/cover;
}
.Songs-Container::-webkit-scrollbar{
    display: none;
}
.Song-Tabs div{
    width: 100%;
    height: 48px;
    bottom: 0%;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;   
}
.Song-Tabs div a:nth-child(1){
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 25px;
    left: 5px;
}
.Song-Tabs div p:nth-child(1){
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    bottom: 4px;
    text-align: center;
    left: 5px;
    color: #d1d1d1;
}
.Song-Tabs div a:nth-child(3){
    font-size: 12px;
    position: absolute;
    font-weight: 500;
    bottom: 4px;
    color: #d1d1d1;
    right: 5px;
    margin-top: 10px;
}

.Section.Popular-movies-1{
    background: url("https://cineparenting.com/wp-content/uploads/2026/02/Kissing-Is-the-Easy-Part-Parents-Guide-Age-Rating.webp")center/cover;
}
.Section.Popular-movies-2{
    background: url("https://wallpapercave.com/wp/wp12083779.jpg")center/cover;
}
.Section.Popular-movies-3{
    background: url("https://static1.colliderimages.com/wordpress/wp-content/uploads/2023/07/emily-in-paris-lily-collins.jpg")center/cover;
}
.Section.Popular-movies-4{
    background: url("https://tse1.mm.bing.net/th/id/OIP.Tp9VQFv5_GUrSQUkIqQH8gHaE8?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Section.Popular-movies-5{
    background: url("https://th.bing.com/th/id/OIP.2mUxjd-dyKdS_VZQB7Fw3wHaEk?w=258&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")center/cover;
}
.Section.Popular-movies-6{
    background: url("https://th.bing.com/th/id/OIP.UldNU9bqpRS7-pvp_UkC1QHaEK?w=271&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3")center/cover;
}
.Watch-Container{
    gap: 5px;
    display: flex;
    margin-top: 10px;
    margin-left: 220px;
    margin-right: 10px;
    height: 190px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.Watch-Container::-webkit-scrollbar{
    display: none;
}
.Watch-Tab:hover{
    transition: transform 0.5s ease; 
    transform: translateY(-6px) scale(1.03);
}
.Watch-Tab{
    flex-grow: 1;
    height: 190px;
    min-width: 115px;
    position: relative;
    border-radius: 10px;
}
.Watch-Content{
    width: 100%;
    height: 115px;
    margin: 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.Watch-Content a{
    right: 1px;
    padding: 4px;
    color: #d1d1d1;
    bottom: 5.5px;
    position: absolute;
    border-radius: 3px;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    backdrop-filter: blur(3px);
    background-color: rgb(0, 0, 0, 0.3);
}
.Stack-1{
    background: url("https://tse1.mm.bing.net/th/id/OIP.-NKtjgLmyCek3pF7vzaRCQHaDt?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Stack-2{
    background: url("https://th.bing.com/th/id/R.ffb479f6833a641088a1f97c69e53442?rik=FQIS2hwZQ%2b6qDg&pid=ImgRaw&r=0")center/cover;
}
.Stack-3{
    background: url("https://www.gamersglobal.de/sites/gamersglobal.de/files/news/teaser/4770/cpedgerunners.jpg")center/cover;
}
.Stack-4{
    background: url("https://wallpapers.com/images/hd/turning-red-meilin-and-red-panda-sktmtmgvp6igtgu0.jpg")center/cover;
}
.Stack-5{
    background: url("https://images.wallpapersden.com/image/download/demon-slayer_a2xoZWuUmZqaraWkpJRnamtlrWZsZWU.jpg")center/cover;
}
.Stack-6{
    background: url("https://wallpapercave.com/wp/wp15597656.jpg")center/cover;
}
.Watch-Content div{
    width: 5%;
    height: 5px;
    position: absolute;
    bottom: 0%;
    border-radius: 5px;
    animation: Range 127s ease-in;
    transition: all 0.5s;
    background-color: rgb(198, 88, 88);
}
@keyframes Range {
    0%{
        width: 5%;
    }
    100%{
        width: 100%;
    }
}
.Watch-Text{
    color: #ffffff;
    margin-top: 2px;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(10px);
    background-color: rgb(73, 82, 103, 0.1);
    font-family: 'Inter', sans-serif;
    border-radius: 0px 0px 10px 10px;
}
.Watch-Text a:nth-child(1){
    font-size: 12px;
    font-weight: 600;
    margin-left: 2px;
    margin-top: 12px;
}
.Watch-Text p:nth-child(1){
    font-size: 9px;
    font-weight: 500;
    margin-top: 2px;
    margin-left: 2px;
    color: #d1d1d1;

}
.Watch-Text div{
    width: 85%;
    height: 5px;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 2px;
    animation: Load 5s ease-in;
    transition: all 0.5s;
    background-color: rgb(198, 88, 88);
}
@keyframes Load {
    0%{
        width: 5%;
    }
    100%{
        width: 85%;
    }   
}
.Watch-Text div a:nth-child(1){
    right: 1px;
    top: 138px;
    opacity: 0;
    display: none;
    font-size: 10px;
    animation: Zer 5s step-end;
    position: absolute;
    color: #ffffff;
}
@keyframes Zer0{
    0%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.Watch-Text div a:nth-child(2){
    right: 1px;
    top: 148px;
    display: none;
    font-size: 10px;
    font-weight: 600;
    animation: Hundre 5s step-end;
    position: absolute;
    color: #ffffff;
}
@keyframes Hundred{
    0%{
        opacity: 0;
    }
    98%{
        opacity: 0;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.Watch-Text button{
    position: absolute;
    font-size: 10px;
    bottom: 0px;
    left: 2px;
    padding-left: 20px;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    background: rgb(52, 125, 251, 0.01);
}
.Watch-Text i{
    position: absolute;
    font-size: 12px;
    bottom: 8px;
    color: white;
    left: 8px;
}
.Watch-Text button:hover{
    backdrop-filter: blur(2px);
    background-color: rgba(120, 168, 252, 0.122);
}
.Highlights-Content{
    gap: 4px;
    display: flex;
    margin-left: 220px;
    height: 180px;
    margin-top: 10px;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}
.Highlights{
    padding: 10px;
    flex-grow: 1;
    min-width: 190px;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgb(16, 28, 48, 0.3);
}
.Highlights:nth-child(1){
    padding: 20px;
    overflow-y: scroll;
}
.Highlights:nth-child(1)::-webkit-scrollbar{
    display: none;
}
.Highlights-Content::-webkit-scrollbar{
    display: none;
}
.Highlights:hover{
    transition: transform 0.5s ease; 
    transform: translateZ(-6px) scale(1.01);
}
.Highlight i{
    top: 18px;
    right: 5px;
    position: absolute;
}
.Highlight h2{
    font-size: 0.95em;
    margin-top: 2px;
    font-weight: 600;
}
.Highlight div{
    width: 40px;
    height: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 5px;
}
.Book-Set-1{
    background: url("https://th.bing.com/th/id/R.ffb479f6833a641088a1f97c69e53442?rik=FQIS2hwZQ%2b6qDg&pid=ImgRaw&r=0")center/cover;
}
.Book-Set-2{
    background: url("https://www.musicmundial.com/en/wp-content/uploads/2024/10/BLACKPINKs-Roses-APT-breaks-an-important-Kpop-record-in-the-United-Kingdom--1100x733.jpg")center/cover;
}
.Highlight h5{
    left: 70px;
    top: 50px;
    font-size: 13px;
    position: absolute;
}
.Highlight h6{
    left: 70px;
    top: 67px;
    color: #d1d1d1;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
}
.Highlight h1{
    left: 70px;
    top: 95px;
    font-size: 13px;
    position: absolute;   
}
.Highlight h3{
    left: 70px;
    top: 112px;
    color: #d1d1d1;
    font-size: 10px;
    font-weight: 500;
    position: absolute;   
}
.Highlight h4{
    font-size: 0.95em;
    margin-top: 10px;
    font-weight: 600;
}
.Highlight a{
    font-size: 10px;
}
.Highlight-Step{
    width: 90%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
}
.Highlight-Step::-webkit-scrollbar{
    display: none;
}
.Highlight-Step h2{
    margin-top: 5px;
    font-size: 0.95em;
    font-weight: 600;
}
.Highlight-Step h3{
    font-size: 0.95em;
    font-weight: 500;    
}
.Highlight-Step a{
    font-size: 0.65em;
    font-weight: 500;  
}
.Highlight-Step h4{
    margin-top: 5px;
    font-size: 0.95em;
    font-weight: 600;    
}
.Highlight-Step h5{
    font-size: 0.65em;
    font-weight: 500; 
}
.Comment{
    height: 40px;
    padding: 5px;
    width: 80%;
    border-radius: 8px;
    border: none;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(16, 28, 48, 0);
}
.Comment:hover{
    border: none;
}
.Highlights .Community div{
    width: 100%;
    height: 125px;
    border-radius: 5px;
}
.Highlights:nth-child(3) .Community div{
    background: url("https://tse1.mm.bing.net/th/id/OIP.E4QDkJyHeU8IdTjG-Ag3dwHaDt?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Highlights:nth-child(4) .Community div{
    background: url("https://tse1.mm.bing.net/th/id/OIP.VvtbHoPeAZkeBMPlm0EqOgHaD4?rs=1&pid=ImgDetMain&o=7&rm=3")center/cover;
}
.Highlights .Community h2{
    margin-top: 5px;
    margin-left: 4px;
    font-size: 15px;
}
.Highlights .Community a{
    margin-top: 5px;
    margin-left: 4px;
    font-size: 11px;
}
.Highlights .Community i{
    position: absolute;
    right: 4px;
    top: 160px;
    color: gold;
}
.footer {
    margin: auto; 
    padding: 30px 16px;
    display: grid;    margin-left: 220px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;    border-top: 1px solid #27272a;
    margin-top: 10px;
    font-size: 13px;
    color: #a1a1aa;
}
.footer h4 {
    color: #e4e4e7; margin-bottom: 8px;
}
.copyright {
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
    color: #71717a;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: rgba(0,0,0,0.9);
    display: none;
}

/*Bottom Tab Container*/
.Bottom-Tab {
    position: fixed;
    bottom: 0px;
    left: 50%;
    height: 25px;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #101010;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
/*Tab Items*/
.TabItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255,255,255,0.5);
    font-size: 11px;
    cursor: pointer;
    margin-bottom: -5px;
    transition: 0.25s ease;
}
.TabItem i:hover{
    color: skyblue;
}
.TabItem i {
    font-size: 18px;
    margin-bottom: 4px;
}
/* ACTIVE (NO GLOW) */
.TabItem.activeTab {
    transform: translateY(-1px);
}

/* TEXT INHERIT */
.TabItem span {
    color:  rgb(255, 255, 255);
}

/* =========================
   INDICATOR (PURE CLEAN)
========================= */
.TabIndicator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 25%;
    height: 50px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


/* Root Variables for Consistency */
:root {
    --squush-primary-brand-color-accent-purple: #7b61ff;
    --squush-main-background-dark-theme-color-primary: #101010;/*#0a0b10*/
    --squush-sidebar-and-card-background-semi-transparent: rgba(20, 21, 28, 0.8);
    --squush-text-color-primary-white-high-emphasis: #ffffff;
    --squush-text-color-secondary-gray-medium-emphasis: #b3b3b3;
    --squush-border-radius-standard-rounded-corner-size: 15px;
}

/* Main Container for the Anime Navigation View */
.squush-streaming-platform-anime-page-main-content-layout-wrapper-container {
    padding: 10px;
    background-color: var(--squush-main-background-dark-theme-color-primary);
    color: var(--squush-text-color-primary-white-high-emphasis);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}
.squush-streaming-platform-movies-page-main-content-layout-wrapper-container {
    padding: 10px;
    padding-top: 5px;
    background-color: var(--squush-main-background-dark-theme-color-primary);
    color: var(--squush-text-color-primary-white-high-emphasis);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}
.squush-streaming-platform-watch-page-main-content-layout-wrapper-container {
    padding: 0px;
    padding-top: 5px;
    background-color: var(--squush-main-background-dark-theme-color-primary);
    color: var(--squush-text-color-primary-white-high-emphasis);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}
.Jjk{
    background: url("https://wallpapercave.com/wp/wp8430817.jpg")center/cover;
}
.squush-anime-top{
    margin-top: -5px;
    margin-bottom: 10px;
}
.squush-anime-top-text{
    width: fit-content;
    position: absolute;
    margin-top: 16px;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    height: fit-content;
}
.squush-anime-search{
    border: none;
    box-shadow: none;
    margin-left: 200px;
}
.squush-anime-search-btn{
    margin-left: 210px;
}
.squush-anime-clip-head{
    overflow: hidden;
}
/* The Promotional Hero Banner at the top of the Anime page */
.copyrights {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #71717a;
}
/*Squush Anime Text Content Start*/
.Text-Content-Anime{
    display: flex;    
    margin-top: 15px;
}
.Text-Content-Anime h2:nth-child(1){
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.Text-Content-Anime h2:nth-child(2){
    font-size: 14px;
    margin-top: -15px;
    position: absolute;
    right: 25px;
    color: #5f8bf2;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.Text-Content-Anime h2:nth-child(2):hover{
    color: #347dfb;
}/*Squush Anime Text Content End*/

/*Squush Anime Top Text Content Start*/
.Text-Content-Anime-Top{
    display: flex;    
    margin-bottom: 10px;
}
.Text-Content-Anime-Top h2:nth-child(1){
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(223, 220, 220);
}
.Text-Content-Anime-Top h2:nth-child(2){
    font-size: 15px;
    position: absolute;
    right: 25px;
    color: #5f8bf2;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.Text-Content-Anime-Top h2:nth-child(2):hover{
    color: #347dfb;
}/*Squush Anime Text Content End*/

/*Squush Steps Content Start*/
.Anime-Steps-Content{
    height: 250px;
    display: flex;
    margin-top: 5px;
    border-radius: 10px;
    position: relative;
    background: url("https://wallpapers.com/images/hd/jujutsu-kaisen-4k-anime-characters-hccbh0fp7rl24yd0.jpg")center/cover;
}
.Anime-Steps{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 10px;
}
.Anime-Steps-Set{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.Anime-Steps a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}
.Anime-Steps h2{
    color: #ffffff;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}
.Anime-Steps button{
    border: none;
    height: 35px;
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    background: rgb(16, 28, 48, 0.2);
 }
.Anime-Steps button:focus{
    background: linear-gradient( to right,#586adc, #3471ff, #347dfb);

}/*Squush Steps Content End*/

/*Squush Anime Scroll Content Start*/
.Anime-Scroll-Content{
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 5px;
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch;
    margin-top: 15px;
}
.Anime-Scroll-Content::-webkit-scrollbar{
    display: none;
}
.Anime-Section{
    width: 140px;    
    height: 80px;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    background-color: var(--squush-main-background-dark-theme-color-primary);
}
.Anime-Section:hover{
    transition: all 0.5s ease; 
    transform: translateY(-6px) scale(1.03);
}
.Anime-Section div{
    width: 140px;
    position: absolute;
    height: 75px;
    bottom: 0%;
    border-radius: 10px;
    padding-top: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
.Anime-Section div a:nth-child(1){
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
}
.Anime-Section div p:nth-child(1){
    font-size: 10px;
    margin-top: 10px;
    color: #c8c8c8;

}
.Anime-Section div button{
    position: absolute;
    font-size: 11px;
    bottom: 2px;
    left: 20px;
    padding-left: 25px;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: 8px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-family: 'Inter', sans-serif;
    background: rgb(52, 125, 251, 0.01);
}
.Anime-Section div i{
    position: absolute;
    font-size: 13px;
    bottom: 12px;
    color: white;
    left: 35px;
}
.Anime-Section div button:hover{
    backdrop-filter: blur(2px);
    background-color: rgba(120, 168, 252, 0.122);
}
/*Squush Anime Scroll Content End*/
.Anime-copyrights {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #71717a;
}
.Kaisen{
    background: url("https://wallpapercave.com/wp/wp8430817.jpg")center/cover;
}
.Xokitty{
    margin-top: 10px;
    background: url("https://i.etsystatic.com/20641750/r/il/c5ec2e/6600525028/il_fullxfull.6600525028_ge2h.jpg")center/cover;
}
.Dragon-Ball{
    margin-top: 10px;
    background: url("https://4kwallpapers.com/images/wallpapers/dragon-ball-super-4480x2520-21220.jpg")center/cover;
}
.Demon-Slayer{
    margin-top: 10px;
     background: url("https://4kwallpapers.com/images/wallpapers/demon-slayer-1920x1200-10716.jpg")center/cover;
}
.Super-Cube{
    margin-top: 10px;
    background: url("https://image.tmdb.org/t/p/w780/89qSKhLrJOUhp6xgbqgSTpzblbA.jpg")center/cover;
}
.Dr-Stoner{
    margin-top: 10px;
    background: url("https://variety.com/wp-content/uploads/2022/09/Do-Revenge.jpg?w=1000")center/cover;
}
.Solo-Level{
    margin-top: 10px;
    background: url("https://dnm.nflximg.net/api/v6/BvVbc2Wxr2w6QuoANoSpJKEIWjQ/AAAAQXkapct6sJLMF4PNtrdBQ5VUNKqerPJlyHX2lpXkFQToUJoXJCpwYBm52SYciUyxRKupknMiog9GzeP0krvfIk_bTVURA0DDiI-8PmXX_CmrvtGGZpH3fHbESXchZO5Pr4538gbWXjRLcTqq9PLpjALcM7c.jpg?r=50b")center/cover;
}
.On-Titans{
    margin-top: 10px;
    background: url("https://wallpaperaccess.com/full/2725441.jpg")center/cover;
}
.The-Shadow{
    margin-top: 10px;
    background: url("https://images.thedirect.com/media/article_full/wednesday-season-2-characters.jpg") center/cover;
}
.Demon-King{
    margin-top: 10px;
    background: url("https://wallpaperbat.com/img/9708056-the-misfit-of-demon-king-academy.png") center/cover;
}
/*
https://wallpaperaccess.com/full/4115818.jpg
https://th.bing.com/th/id/OIP.JRvjw9aINPFxaDVXXyZrYgHaF8?w=226&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3
https://wallpaperaccess.com/full/2725441.jpg
https://th.bing.com/th/id/OIP.vYB1cfJbsr7rz_cVHN_TMAHaEs?w=235&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3
https://wallpaperbat.com/img/9708074-misfit-of-the-demon-king-academy-x.jpg*/
.Anime-footer {
    margin: auto; 
    padding: 30px 16px;
    display: grid;    border-top: 1px solid #27272a;
    margin-top: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    font-size: 13px;
    color: #a1a1aa;
}
.Anime-footer h4 {
    color: #e4e4e7; margin-bottom: 8px;
}
@media (max-width: 560px){
        .squush-anime-top-text{
        font-size: 20px;
        display: none;
    }
    .squush-anime-search{
        margin-left: 0px;
        margin-right: -10px;
    }
    .squush-anime-search-btn{
        margin-left: 10px;
    }
}
.Squush-Scroll,.Squush-Scroll-Text{
    margin-left: 10px;
    margin-bottom: 20px;
}
.Demon-text h2:nth-child(2){
    font-size: 14px;
}
.Video-Watch{
    width: 100%;
    top: 0;
    margin-top: -10px;
    height: 300px;
}
.Video-Watch iframe{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.Video-Watch-Text{
    display: flex;    
    margin-top: 15px;
}
.Video-Watch-Text h2:nth-child(1){
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.Video-Watch-Text h2:nth-child(2){
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
    right: 25px;
    color: #5f8bf2;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.Video-Watch-Text h2:nth-child(2):hover{
    color: #347dfb;
}/*Squush Anime Text Content End*/
.Sqaush-New{
    background-color: rgba(0, 0, 0, 0.719);
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-family: 'inter', sans-serif;
    position: absolute;
    right: 4px;
    border-radius: 6px;
    top: 2px;
}
.Squush-Page{
    background: linear-gradient( to right,#586adc, #3471ff, #347dfb);
    font-size: 11px;
    width: 30px;
    text-align: center;
    height: 10px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'inter', sans-serif;
}


/* CARD */
.skyblue_squush_container_card {
    width: 100%;
    max-width: 355px;
    padding: 25px;
    border-radius: 18px;
    background: rgba(20, 20, 20, 1);
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    text-align: center;
    position: relative;
}

/* TITLE */
.skyblue_squush_title_text {
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}

/* PROFILE */
.skyblue_squush_profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.skyblue_squush_profile_circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #87ceeb;
    object-fit: cover;
    background: #111;
}

/* FILE INPUT */
.skyblue_squush_file_input { display: none; }

.skyblue_squush_file_label {
    padding: 8px 16px;
    background: skyblue;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

/* INPUTS */
.skyblue_squush_input_field {
    width: 100%;
    padding: 12px;
    margin: 8px -10px;
    margin-right: 40px;
    border: 1px solid #333;
    border-radius: 10px;
    background: #0f0f0f;
    color: white;
}

/* BUTTONS */
.skyblue_squush_button_primary,
.skyblue_squush_button_secondary {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.skyblue_squush_button_primary {
    background: skyblue;
    border: none;
    color: black;
}

.skyblue_squush_button_secondary {
    background: transparent;
    border: 1px solid skyblue;
    color: skyblue;
}

/* PAGE SYSTEM (NO ACTIVE ANYMORE) */
.skyblue_squush_page {
    display: none;
}

.skyblue_squush_state_page_visible_mode_ultra_active {
    display: block;
}

/* DASHBOARD */
.skyblue_squush_user_box {
    color: white;
}

/* LOADER */
.skyblue_squush_loader_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(6px);
    z-index: 999;
}

.skyblue_squush_spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #333;
    border-top: 5px solid skyblue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* BACK ICON */
.skyblue_squush_back_icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(135, 206, 235, 0.15);
    color: skyblue;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.skyblue_squush_back_icon:hover {
    background: skyblue;
    color: black;
    transform: scale(1.1);
}
.LoginUI{
    position: absolute;
    z-index: 3;
}





@media (max-width: 560px){
    .Content-Container{
        display: none;
    }
     .Navlinks{
        display: block;
     }
    .search-box, .Steps-Content, .suggestions, .squush-anime-clip-1, .squush-anime-clip-2,
    .Text-Content, .Scroll-Content, .Songs-Container, .squush-anime-clip-3, .squush-anime-clip-4,
    .Watch-Container, .Highlights-Content, .footer, .Navlinks{
        margin-left: 10px;
    }
    .fa-magnifying-glass{
        margin-left: 20px;
    }
    .Sign_Bar_Container{
        width: 96%;
        margin-top: 50px;
        margin-left: 2%;
    }
}
@media (min-width: 560px){
    .Bottom-Tab{
        display: none;
    }
}
